:root{
    --color-graydark: rgb(42, 42, 42);
    --color-beige1: antiquewhite;
    --color-graymid: rgb(61, 61, 61);
    --color-graylight: rgb(200, 200, 200);
    --color-graylightest: rgb(228, 228, 228);
    --color-hover: rgb(215, 230, 250);
    --color-pink: rgb(250, 215, 248);
    --color-green: rgb(215, 250, 218);
    --color-red: rgb(255, 139, 139);
    --color-brown-pale: #A53837;
    --color-blue-pale: #325195;
}

body {
    font-family: "Lato", serif;
    color: var(--color-beige1);
    background-color: var(--color-graydark);
}

/* ELEMENTS */

a {
    text-decoration: none; 
    color: inherit;
}
button{
    color: var(--color-beige1);
    background-color: transparent;
    /* height: 100%; */
    line-height: 24px;
    margin: 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:enabled:hover{
    background-color: var(--color-hover);
    color: var(--color-graymid);
    border-color: var(--color-hover);
} 

.text-button{
    border: 1px solid var(--color-beige1);
}

.tooltip-container{
    position: relative;
}
.tooltip{
    position: absolute; 
    bottom : 110%;
    left: -30%;
    background-color: var(--color-hover);
    border-radius: 5px;
    min-width: max-content;
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    color: var(--color-graydark);
    display : none;
    -webkit-text-stroke: 0;
    animation: moveup 0.1s linear;
}

@keyframes moveup {
    0% {
        transform: translateY(10px) rotate(15deg);
        opacity: 0;
    }
    100% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
}

button:enabled:hover > .tooltip {
    display : block;
}
.tooltip:after {
    position: absolute;
    content: "";
    top: 100%;
    left: 15%;
    border-top: 7px solid var(--color-hover);
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
}
.icon-button:disabled{
    color: darkgray;
}

input, textarea{
    background-color: var(--color-graydark);
    border: 0 solid var(--color-beige1);
    border-radius: 5px;
    color: var(--color-graylightest);
    font-weight: 300;
    font-family: "Lato", serif;
    font-size: medium;
}
input:focus, textarea:focus{
    outline: 0.05em solid var(--color-beige1);
    outline-offset: -1px;
}

/* REST */

.top-menu{
    margin: 20px 0px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-graymid);
}

.container{
display: flex;
margin: 50px 5% 50px 5%;
}
.separator-2{
    /* width: 100%; */
    margin: 5px -15px;
    border-top: 2px solid var(--color-beige1);
}
#utilities-bar{
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: start;
    background-color: var(--color-beige1);
    color: var(--color-graydark);
    width: 80%;
    height: 36px;
    margin: 0px;
    padding: 0px 10%;
    border: 0.05em solid;
    border-radius: 5px 5px 0px 0px;
    border-color: var(--color-beige1);
    outline: 1px solid none;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 10px 25px -10px;
}
.button-utils{
    font-size: 12pt;
    border: 1px solid var(--color-graymid);
    color: var(--color-graymid);
    /* line-height: 1em; */
}

.button-utils:enabled:hover{
    background-color: var(--color-hover);
    /* color: var(--color-graymid); */
    border-color: var(--color-graymid);
} 
.res-sort-button-group{
    display: flex;
    align-items: center;
    gap: 6px;
}
#res-sort-type-text{
    line-height: 24px;
    font-style: italic;
}

/* CATEGORY */

#categories-list-box{
    position: sticky;
    top: 50px;
    display: block;
    min-width: min-content;
    padding: 0px 10px;
    max-width: max-content;
    height: fit-content;
    
}

.heading-with-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading-with-buttons > h4{
    margin: 0;
}
.categories-item{
    list-style: none;
    max-width: min-content;
    min-width: fit-content; 
    padding: 3px 10px;
    margin: 3px 0px;
    border: 0.5px solid;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 15px;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}
.categories-item:hover{
    color: var(--color-hover);
    border-color: var(--color-hover);
    /* transition-property: border-color, color;
    transition-duration: 0.3s; */

}
.categories-item.clicked{
    color: var(--color-graydark);
    background-color: var(--color-hover);
    border-color: var(--color-hover);
}
.categories-item.dragging{
    color: var(--color-graydark) !important;
    background-color: var(--color-green) !important;
    border-color: var(--color-green) !important;
    /* outline: 3px solid var(--color-graydark); */
    /* outline-offset: -3px; */
    transition: none;
    opacity: 0.99;
}

#categories-list{
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 28px;
}
#categories-list-editable{
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 0px;
}
#categories-list-editable > div{
    display: flex;
    align-items: center;
}
#edit-categories-form input{
    font-weight: normal;
    font-style: italic;
    color: var(--color-hover);
    padding: 3px 10px;
    margin: 1.5px 0px;
    border-radius: 15px;
    border: 0.5px solid transparent;
}
#edit-categories-form input:focus{
    outline-color: var(--color-hover);
}
#edit-categories-form li{
    margin: 0;
    padding: 0;
    border: 0px;
    outline-color: var(--color-hover);


}
#edit-categories-form li:hover{
    border-color: transparent;
}
#new-category-form{
    display: flex;
    max-width: min-content;
    min-width: fit-content; 
    padding: 3px 10px 3px 0px;
    margin: 3px 0px;
    align-content: center;
    align-items: center;

    /* border: 0.5px solid; */
    /* border-color: rgba(255, 255, 255, 0); */
    /* border-radius: 15px; */
}
#new-category-button{
    margin: 3px 4px 3px 0px;
    /* padding: 1px 6px; */
    border-radius: 16px;
    height: 24px;
    width: 24px;
    line-height: 20px;
    text-align: center;
    text-decoration: solid;
    font-weight: 900;

}

/* RESOURCES */

/* #main-content {
    display: flex;
    justify-content: flex-start;
    padding: 30px 10%;
    flex-direction: column;
    align-items: center;
    width: 60%;
} BACKUP SPRZED DODANIA STICKY MENU W RESOURCES*/

#main-content{
    display: flex;
    justify-content: flex-start;
    /* padding: 30px 10%; */
    padding: 0px;
    /* margin: 0; */
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main-inner-box{
    display: flex;
    justify-content: flex-start;
    padding: 30px 10%;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
}

.box {
    margin: 10px;
    border: 0.05em solid;
    border-radius: 5px;
    border-color: var(--color-beige1);
}
.right-stripe{

    min-width: 33px;
    margin-right: -25px;
    margin-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.right-stripe.book{
    background-color: var(--color-brown-pale);
}
.right-stripe.article{
    background-color: var(--color-blue-pale);
}

.user-resource{
    position: relative;
    align-content: start;
    justify-content: left;
    background-color: var(--color-graymid);
    width: 54vw;
    min-height: 80px;
    margin: 5px;
    padding: 0px 25px;
    border: 0.05em solid;
    border-radius: 5px;
    border-color: var(--color-beige1);
    outline: 1px solid none;
}
.user-resource:hover{
    border-color: var(--color-hover);
    outline: 1px solid var(--color-hover);
}

.user-resource.dragover{
    border-color: var(--color-green) !important;
    outline: 1px solid var(--color-green) !important;
    box-shadow: inset 0 0 10px 1px var(--color-green) !important;
    transition: box-shadow 0.3s ease;
}
.user-resource.dragover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    box-shadow: inset 0 0 10px 1px var(--color-green);
    pointer-events: none;
}

.border-bottom-5{
    border-bottom: 4px solid var(--color-beige1);
}
.resource-heading{
    display: flex;
    height: max-content;
    flex-direction: row;
    margin-bottom: -4px;
}
.resource-heading:not(.editable):hover{
    cursor: pointer;
}

.resource-heading-text{
    width: 100%;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
}
.resource-heading-top{
    display: flex;
    flex-direction: row;
}
.resource-heading-buttons {
    position: absolute;
    right: -2px;
    top: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* .resource-title * {
    font-size: inherit;
    font-weight: inherit;
} */
.resource-title.editable, .resource-subtitle.editable, .year-text.editable, .place-text.editable, .author-text.editable, .isbn-text.editable{
    font-size: small;
    font-weight: 300;
}
.author-text.editable, .place-text.editable{
    width: 100%;
}
.year-text.editable, .isbn-text.editable{
    width: calc(50% - 6px);
}
.resource-title textarea{
    font-size: 1.5rem;
    font-weight: bold;
    width: calc(100% - 4px);
    resize: none;
}
.resource-subtitle textarea {
    font-size: 1.17rem;
    font-weight: bold;
    width: calc(100% - 4px);
    resize: none;
}
.author-text textarea {
    resize: none;
    width: calc(100% - 4px);
}
.year-text input, .place-text input, .isbn-text input {
    width: calc(100% - 3px);
}
.year-text input, .place-text input, .author-text textarea, .isbn-text input{
    font-size: 0.83rem;
    font-weight: bold;

}
.resource-authors-date-place-row{
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    flex-wrap: wrap;
    gap: 12px;
}
.authors-group{
    display: flex;
    gap: 2pt;
    flex-wrap: wrap;
}
.authors-group.editable{
    flex: 1 1 calc(60% - 6px);
}
.date-place-group{
    display: flex;
    column-gap: 2pt;
    flex-wrap: wrap;
}
.date-place-group.editable{
    flex: 1 1 calc(40% - 6px);
    column-gap: 12px;
}
.authors-group h5, .date-place-group h5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.resource-cover{
    display: flex;
    flex-shrink: 0;
    margin-right: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 90px;
    height: 120px;
    background-color: rgb(35, 35, 35);
    overflow: hidden;
    /* align-content: center; */
}
.resource-cover img{
    align-self: center;
    width: 100%;
    height: auto;
}
/* .upload-cover{
    display: flex;
} */

.custom-file-input {
    color: transparent;
    width: 90px;
    border-radius: 3px;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'upload cover';
    color: var(--color-graydark);
    display: inline-block;
    background-color: var(--color-beige1);
    padding: 8px 8px 8px 7px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: small;
}
.custom-file-input:hover::before {
    /* border-color: black; */
    background-color: var(--color-hover);
}
.custom-file-input:active {
    outline: 0;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}



.resource-categories-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 50%;
    float: inline-end;
    margin-bottom: -5px;
    margin-left: 30px;
    margin-top: 20px;
    line-height: 30px;
}

.single-category{
    background-color: var(--color-beige1);
    color: var(--color-graymid);
    border-radius: 15px;
    padding: 3px 10px;
    height: 20px;
    line-height: 20px;
    margin: 1.5px;
}
.single-category.draggingdelete{
    background-color: var(--color-red);
}

.resource-expand{
    position: absolute;
    right: 1px;
    bottom: 3px;
}

/* NOTES */
.notes-box{
    padding: 25px;
    margin: 0px -25px;
    font-weight: 300;
    width: 100%;
    border-top: 5px solid;
}
.notes-box h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notes-sortby{
    text-align: end;
    font-weight: normal;
}
.single-note-item{
    border-top: 1px dashed;
}
.note-heading-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.note-heading-row p{
    margin-bottom: 2px;
    margin-top: 2px;
}
.note-date-del-edit-row {
    display: flex;
    align-items: center;
}
.note-date{
    margin-left: 5px;
}
.tags-rollout{
    padding-bottom: 10px;
}

.single-note-tags{
    text-wrap: nowrap;
    font-weight: normal;
    margin: 5px;
    /* line-height: 28px; */
    padding: 2px 5px;
    border-radius: 3px;
    border: 0.1px dashed;
}
.note-tags-row {
    position: relative;
    text-align: right;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.single-note-text{
    margin-top: 0;
    color: var(--color-graylight);
    position: relative;
    width: 100%;
    text-align: left;
}
.note-text-area, .edit-note-textarea{
    margin: 6px 0px;
    white-space: pre-line;
}
.note-bottom-row{
    display: flex;
    gap: 6px;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
}
.single-note-targets{
    font-size: 14px;
    padding-top: 5px;
    color: var(--color-beige1);
}
.input-link{
    min-width: 20vw;
}
.input-pages{
    min-width: 5vw;
}
.single-note-targets.target-link{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.single-note-targets.target-pages{
    white-space: nowrap;
}
.single-note-targets a{
    text-decoration: underline 0.05em;
}
.single-note-targets a:hover{
    color: var(--color-hover);
}
.icon-button {
    height: 120%;
    font-size: larger;
    background-color: transparent;
}
.icon-button:enabled:hover{
    background-color: transparent;
    color: var(--color-hover);
    -webkit-text-stroke: 0.2px var(--color-graymid);
}

.icon-button-tags{
    position: relative;
    size: 16px 16px;
    font-size: 14px;
    font-weight: normal;
    margin: 0px 5px;
    line-height: unset;
    /* line-height: 28px; */
    padding: 2px 5px;
    border-radius: 3px;
    border: 0.1px dashed;
    background-color: transparent;
    outline: 3px solid transparent;
}
.icon-button-tags:enabled:hover{
    background-color: transparent;
    outline: 3px solid var(--color-beige1);
    color: var(--color-hover);
}
.icon-button-tags.clicked{
    background-color: transparent;
    outline: 3px solid var(--color-beige1);
    color: var(--color-hover);
}

.new-note-box{
    margin-bottom: 25px;
    position: relative;
}
.new-note-tag-rollout-button{
    position: relative;
}

.new-note-box textarea, .single-note-text textarea{
    width: calc(100% - 4px);
    height: auto; 
    min-height: calc(1.5em * 4); /* 1.5em is the approximate height of a line of text */
    resize: none; /* Prevent manual resizing */
}
#new-note-pages{
    width: 75px;
}
#new-note-link{
    width: 300px;
}
#tag-rollout {
    display: none;
    align-items: center;
    margin: 10px;
    border: 0.05em solid;
    border-radius: 5px;
    border-color: var(--color-beige1);
    background: var(--color-graymid);
    padding: 10px;
    z-index: 10;
}
.all-tags-row{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-bottom: 0;
    padding-bottom: 0;
    flex-wrap: wrap;
}
.tag-rollout-drawer {
    max-width: 50%;
    min-width: 360px;
    padding: 15px;
    background-color: var(--color-graymid);
    border: 1px solid var(--color-beige1);
    border-radius: 5px;
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.7);
    z-index: 10;
}
.tag-rollout-drawer > .heading-with-buttons{
    margin-bottom: 10px;
}

.add-new-tag-miniform{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    gap: 6px;
}
.add-new-tag-input{
    flex: auto;
}
.color-selector-button{
    color: var(--color-graydark);
    width: 90px;
    border-radius: 3px;
    border: 1px dashed;
}
.assign-tags-confirm{
    margin-top: 10px;
    width: 100%;
}
.color-selector-button:hover{
    color: initial;
    background-color: transparent;
}

.color-selector-button:enabled:hover{
    color: initial;
    background-color: transparent;
}
.color-selector-icon{

    padding: 1px 1px;
    width: 20px;
}
.color-selector-icon::before {
    content: "\f53f"; 
    font-family: "Font Awesome 6 Free"; 
    font-weight: 900; 
  }

#tag-container {
    display: flex;
    flex-wrap: wrap;
}
.tag {
    cursor: pointer;
    font-size: small;
    line-height: 16px;
    outline: 3px solid transparent;
}
.tag.clicked {
    outline: 3px solid;
}
.tag:not(.editable-tag-row, .editable):hover {
    outline: 3px solid var(--color-beige1);
}
.tag.editable{
    cursor: initial;
    margin: 0px 0px 0px 5px;
}
.editable-tag-row{
    font-weight: normal;
    padding: 0;
}
.editable-tag-row input{
    font-weight: normal;
}
.editable-tag-row input:focus{
    outline: none;
}
.editable-tag-row > button:not(.tooltip){
    color: var(--color-graymid);
    line-height: 18px;
    -webkit-text-stroke: 0.2px var(--color-beige1);
}
.flex-end{
    text-align: end;
    align-self: flex-end;
}


/* CSS for fade in/out animation z GPT axios */
.deletable-item {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .deletable-item.fade-out {
    opacity: 0;
  }
  
  /* Optional: Add smooth transitions for adding new items */
  .new-item {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* KONIEC CSS for fade in/out animation z GPT axios */

.hidden {
    max-height: 0;
    min-height: 0;
    opacity: 0;
    padding-top: 0px;
    padding-bottom: 0px; 
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    pointer-events: none; /* Optional: Prevent interactions when hidden */

}
.hidden-fast {
    max-height: 0;
    min-height: 0;
    opacity: 0;
    padding-top: 0px;
    padding-bottom: 0px; 
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;
    pointer-events: none; /* Optional: Prevent interactions when hidden */
}

.visible {
    /* max-height: 2000px; */
    max-height: 100%;
    opacity: 1;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    pointer-events: auto; /* Optional: Re-enable interactions when visible */
}
.visible-fast {
    max-height: 2000px; /* Use a large enough value to accommodate the content */
    opacity: 1;
    transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;
    pointer-events: auto; /* Optional: Re-enable interactions when visible */
}

.hidden-horizontal {
    max-width: 0;
    min-width: 0;
    opacity: 0;
    /* padding-left: 0px; */
    /* padding-right: 0px;  */
    overflow: hidden;
    transition: max-width 0.5s ease-in-out, opacity 0.5s ease-in-out;
    pointer-events: none; /* Optional: Prevent interactions when hidden */
}
.visible-horizontal {
    max-width: 1000px; /* Use a large enough value to accommodate the content */
    opacity: 1;
    transition: max-width 0.5s ease-in-out, opacity 0.5s ease-in-out;
    pointer-events: auto; /* Optional: Re-enable interactions when visible */
}

#confirmation-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#remove-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    /* pointer-events: none; Optional: Prevent interactions when hidden */
}
.popup-content {
    background-color: var(--color-graymid);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.popup-content button {
    margin: 10px;
}
#remove-item-bucket{
    font-size: 50px;
}
#remove-item-bucket.dragover{
    color: brown;
}
.delete-button:enabled:hover{
    background-color: transparent;
    color: var(--color-red);
    -webkit-text-stroke: 0.2px red;
    /* border-color: var(--color-red); */
} 
footer {
    display: flex;
    justify-content: center;
}

@media (max-width: 1280px) {
    .container{
        margin: 50px 1% 50px 1%;
    }
    /* #main-content{
        padding: 30px 1%;
        width: auto;
    } */
    .main-inner-box{
        width: 100%;
        padding: 30px 0%;
    }
    /* .user-resource{
        width: 90%;
    } */
    
}
